:host {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 20px 60px 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin: 20px 0 40px 0;
}


@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
