<h1>Sobre mí</h1>

<p>
  Hola 👋
</p>

<p>
  Soy Jaime Martín Martín, tengo {{years}} años y soy ingeniero informático.
</p>

<p>
  Desde que empecé la carrera en la universidad de Salamanca programar y desarrollar es algo que me apasiona. Tanto que
  conseguí el premio extraordinario de grado, y desde entonces siempre estoy pensando en algo nuevo que programar. E
  ideas no me faltan, porque mi familia me pide apps constantemente.
</p>

<p>
  En el trabajo, soy el líder del equipo y soy a quien siempre acuden cuando mis compañeros se bloquean con sus
  tareas. Siempre acabamos encontrando una buena solución para salir adelante y entregar el producto.
</p>

<p>
  Me decidí a crear este sitio web para entretenerme, seguir aprendiendo y compartir mi experiencia y mis proyectos con
  todo el mundo.
</p>

<p>
  A parte de mi trabajo y programar, me gusta jugar al ajedrez, a los bolos y montar en bicicleta por los caminos de mi
  zona que van de un pueblo a otro.
</p>

<p>
  Uno de mis mayores proyectos ahora mismo es la construcción de la que será mi casa. Por lo que ahora tengo menos
  tiempo, ya que prefiero ir a ver como van las obras.
</p>