<h1>Sobre mí</h1>

<p>Hola 👋</p>

<p>
  Soy Jaime Martín Martín, tengo {{ years }} años y soy ingeniero informático.
</p>

<p>
  Me gusta programar. Es una pasión que tengo. Me decidí a crear este sitio web
  para entretenerme, seguir aprendiendo y compartir mi experiencia y mis
  proyectos con todo el mundo.
</p>

<p>
  En el trabajo soy el líder del equipo y soy a quien acuden cuando mis
  compañeros se bloquean con sus tareas. Siempre acabamos encontrando una buena
  solución para salir adelante y entregar el producto.
</p>

<p>
  A parte de mi trabajo y programar, me gusta jugar al ajedrez, a los bolos y
  montar en bicicleta por los caminos de mi zona que van de un pueblo a otro.
</p>

<p>
  Respecto a mi logo, si te preguntas que es, son una J y una M superpuestas.
</p>
