<nav>
  <a href="">Sobre mí</a>
  <a href="">Mi trayectoria</a>
  <a href="">Aprender</a>
  <a href="">Mis proyectos</a>
</nav>

<section id="intro">
  <div class="profile-photo">
    <img src="assets/home/profile.png" alt="Foto de Jaime">
  </div>

  <div>
    <h1>
      Jaime
      <br>
      Ingeniero informático
    </h1>

    <ul class="contact-list">
      <!-- gmail -->
      <li>
        <address>
          <a class="email app-no-break" href="mailto:jaimemartinmartin15@gmail.com">
            <svg appGmailLogoSvg viewBox="0 0 100 100"></svg>
          </a>
        </address>
      </li>

      <!-- github -->
      <li>
        <a target="_blank" rel="noopener" class="github app-no-break" href="https://github.com/jaimemartinmartin15">
          <svg appGithubLogoSvg viewBox="0 0 100 100"></svg>
        </a>
      </li>

      <!-- linkedin -->
      <li>
        <a target="_blank" rel="noopener" class="linked-in app-no-break"
          href="https://www.linkedin.com/in/jaime-mart%C3%ADn-mart%C3%ADn-2a298016b/">
          <svg appLinkedInLogoSvg viewBox="0 0 100 100"></svg>
        </a>
      </li>
    </ul>
  </div>
</section>